RewriteEngine On
# This checks to make sure the connection is not already HTTPS
#RewriteCond %{SEVER_PORT} 80
RewriteCond %{HTTPS} !=off
RewriteRule ^/?(.*) https://%{SERVER_NAME}/$1 [R,L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L]
